RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /B7-PHP-Zero-Ao-Pro/Mod16-PHP-Super-Avancado/05-Estrutura-MVC-Index-Rewrite/index.php?url=$1 [QSA,L]

# /05-Estrutura-MVC-Index-Rewrite/nova
# /05-Estrutura-MVC-Index-Rewrite/index.php?url=nova