<html>
	<head>
		<title>Site Institucional</title>
		<link rel="stylesheet" href="assets/css/template.css" />
	</head>
	<body>
		<div class="topo">
                    <div class="topo1"></div>
                    <div class="banner"></div>
		</div>
		<div class="menu">
                    <ul>
                        <a href="home.html"><li>HOME</li></a>
                        <a href="portfolio.html"><li>PORTFOLIO</li></a>
                        <a href="sobre.html"><li>SOBRE</li></a>
                        <a href="servicos.html"><li>SERVIÇOS</li></a>
                        <a href="contato.html"><li>CONTATO</li></a>
                    </ul>
		</div>
		<div class="container">
            

            <h1>Meu Portfolio</h1>
                
            <div class="portfolio_item">
                <img src="assets/portfolio/imagem.png" border="0" width="200" height="150" />
            </div>                
            <div class="portfolio_item">
                <img src="assets/portfolio/imagem.png" border="0" width="200" height="150" />
            </div>                
            <div class="portfolio_item">
                <img src="assets/portfolio/imagem.png" border="0" width="200" height="150" />
            </div>                
            <div class="portfolio_item">
                <img src="assets/portfolio/imagem.png" border="0" width="200" height="150" />
            </div>
                
            <div class="portfolio_item">
                <img src="assets/portfolio/imagem.png" border="0" width="200" height="150" />
            </div>                
            <div class="portfolio_item">
                <img src="assets/portfolio/imagem.png" border="0" width="200" height="150" />
            </div>                
            <div class="portfolio_item">
                <img src="assets/portfolio/imagem.png" border="0" width="200" height="150" />
            </div>                
            <div class="portfolio_item">
                <img src="assets/portfolio/imagem.png" border="0" width="200" height="150" />
            </div>

            <div style="clear:both"></div>

		</div>
		<div class="rodape"></div>
	</body>
</html>




