body {
    background: #fff;
    margin: 0;
}
.topo {
    height: 80px;
    background: #eee;
}
.menu {
    height: 40px;
    background: #ddd;    
}
.container {
    min-height: 200px;
    background: #fff;
}
.rodape {
    height: 80px;
    background: #ddd;
}